In [3]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            return_bikes SMALLINT,
            lat REAL,
            lng REAL,
            act boolean
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [4]:
import data
all_data:list[dict] = data.load_data()

SyntaxError: invalid syntax (data.py, line 1)

In [ ]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql='''
        
        '''
        cursor.execute(sql)
    
conn.close()

In [1]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")

cursor = conn.cursor()
sql='''
CREATE TABLE IF NOT EXISTS youbike(
_id Serial Primary Key,
sna VARCHAR(50) NOT NULL,
sarea VARCHAR (50),
ar VARCHAR(100),
mday timestamp,
updateTime timestamp,
total SMALLINT,
rent_bikes SMALLINT,
retuen_bikes SMALLINT,
lat REAL,
Ing REAL,

)
'''
cursor.execute(sql)
cursor.close()##手動close()
conn.commit()#手動commmit()
conn.close()##手動close()

In [ ]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")
cursor = conn.cursor()
sql='''
CREATE TABLE IF NOT EXISTS student(
	student_id Serial Primary Key,
    name VARCHAR(20) NOT NULL,
    major VARCHAR(20)
);
'''
cursor.execute(sql)
cursor.close()##手動close()
conn.commit()#手動commmit()
conn.close()##手動close()

In [ ]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")
with conn: #with conn會自動commit()
    cursor = conn.cursor()
    sql='''
    CREATE TABLE IF NOT EXISTS student(
        student_id Serial Primary Key,
        name VARCHAR(20) NOT NULL,
        major VARCHAR(20)
    );
    '''
    cursor.execute(sql)
    cursor.close()
conn.close()

In [ ]:
with psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e") as conn: #with conn會自動commit(), 自動close()
    cursor = conn.cursor()
    sql='''
    CREATE TABLE IF NOT EXISTS student(
        student_id Serial Primary Key,
        name VARCHAR(20) NOT NULL,
        major VARCHAR(20)
    );
    '''
    cursor.execute(sql)
    cursor.close()

In [ ]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_1c6e_user:mmP8BQ8UaIQZdPTaZ9BsWDu77OMke2Pq@dpg-cpscvr08fa8c739548rg-a.singapore-postgres.render.com/tvdi_1c6e")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql='''
        CREATE TABLE IF NOT EXISTS student(
            student_id Serial Primary Key,
            name VARCHAR(20) NOT NULL,
            major VARCHAR(20)
        );
        '''
        cursor.execute(sql)
    
conn.close()